<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>first_names</key>
	<array>
		<string>Adorable</string>
		<string>Adventurous</string>
		<string>Agile</string>
		<string>Amazing</string>
		<string>Ancient</string>
		<string>Artistic</string>
		<string>Astounding</string>
		<string>Athletic</string>
		<string>Awesome</string>
		<string>Beautiful</string>
		<string>Benevolent</string>
		<string>Big</string>
		<string>Blazing</string>
		<string>Blissful</string>
		<string>Blushing</string>
		<string>Bold</string>
		<string>Bouncy</string>
		<string>Breezy</string>
		<string>Bright</string>
		<string>Brilliant</string>
		<string>Bubbly</string>
		<string>Bumpy</string>
		<string>Busy</string>
		<string>Calm</string>
		<string>Camouflaged</string>
		<string>Carefree</string>
		<string>Caring</string>
		<string>Carnivorous</string>
		<string>Charming</string>
		<string>Cheerful</string>
		<string>Cheesy</string>
		<string>Classy</string>
		<string>Colossal</string>
		<string>Comfortable</string>
		<string>Cool</string>
		<string>Corny</string>
		<string>Courageous</string>
		<string>Cozy</string>
		<string>Crawling</string>
		<string>Crazy</string>
		<string>Creative</string>
		<string>Cuddly</string>
		<string>Cunning</string>
		<string>Dainty</string>
		<string>Dancing</string>
		<string>Dapper</string>
		<string>Daring</string>
		<string>Dark</string>
		<string>Dashing</string>
		<string>Delightful</string>
		<string>Deluxe</string>
		<string>Determined</string>
		<string>Doubtful</string>
		<string>Dreaming</string>
		<string>Dry</string>
		<string>Educated</string>
		<string>Elder</string>
		<string>Endearing</string>
		<string>Energetic</string>
		<string>Engaging</string>
		<string>Enormous</string>
		<string>Entertaining</string>
		<string>Exciting</string>
		<string>Extraordinary</string>
		<string>Fanciful</string>
		<string>Fantastic</string>
		<string>Fast</string>
		<string>Fearless</string>
		<string>Feathered</string>
		<string>Feisty</string>
		<string>Feral</string>
		<string>Fierce</string>
		<string>Floppy</string>
		<string>Fluffy</string>
		<string>Flying</string>
		<string>Friendly</string>
		<string>Frosty</string>
		<string>Funny</string>
		<string>Furry</string>
		<string>Fuzzy</string>
		<string>Galactic</string>
		<string>Gargantuan</string>
		<string>Generous</string>
		<string>Gentle</string>
		<string>Genuine</string>
		<string>Giant</string>
		<string>Giggly</string>
		<string>Ginormous</string>
		<string>Glacial</string>
		<string>Glamorous</string>
		<string>Gleeful</string>
		<string>Glistening</string>
		<string>Glittery</string>
		<string>Glossy</string>
		<string>Glowing</string>
		<string>Good</string>
		<string>Goofy</string>
		<string>Gorgeous</string>
		<string>Graceful</string>
		<string>Great</string>
		<string>Groovy</string>
		<string>Grumpy</string>
		<string>Gutsy</string>
		<string>Hairy</string>
		<string>Happy</string>
		<string>Heavy</string>
		<string>Helpful</string>
		<string>Heroic</string>
		<string>Hidden</string>
		<string>Hopeful</string>
		<string>Hopping</string>
		<string>Huge</string>
		<string>Humongous</string>
		<string>Humorous</string>
		<string>Hungry</string>
		<string>Hyper</string>
		<string>Icy</string>
		<string>Idealistic</string>
		<string>Imaginative</string>
		<string>Impressive</string>
		<string>Incredible</string>
		<string>Ingenious</string>
		<string>Inky</string>
		<string>Innovative</string>
		<string>Inspiring</string>
		<string>Intellectual</string>
		<string>Interesting</string>
		<string>Interstellar</string>
		<string>Intrepid</string>
		<string>Itty-Bitty</string>
		<string>Jazzy</string>
		<string>Jiggly</string>
		<string>Joking</string>
		<string>Jovial</string>
		<string>Joyful</string>
		<string>Jumpy</string>
		<string>Lacy</string>
		<string>Large</string>
		<string>Laughing</string>
		<string>Lazy</string>
		<string>Leafy</string>
		<string>Light</string>
		<string>Lively</string>
		<string>Long</string>
		<string>Loony</string>
		<string>Loud</string>
		<string>Lovely</string>
		<string>Loyal</string>
		<string>Lucky</string>
		<string>Lyrical</string>
		<string>Magical</string>
		<string>Magnetic</string>
		<string>Majestic</string>
		<string>Marvelous</string>
		<string>Masterful</string>
		<string>Mega</string>
		<string>Merry</string>
		<string>Metallic</string>
		<string>Micro</string>
		<string>Mighty</string>
		<string>Mini</string>
		<string>Mischievous</string>
		<string>Muscular</string>
		<string>Musical</string>
		<string>Mutant</string>
		<string>Mysterious</string>
		<string>Mythical</string>
		<string>Nice</string>
		<string>Nocturnal</string>
		<string>Noticeable</string>
		<string>Optimistic</string>
		<string>Outdoorsy</string>
		<string>Painted</string>
		<string>Patient</string>
		<string>Peaceful</string>
		<string>Perfect</string>
		<string>Persistent</string>
		<string>Pigmy</string>
		<string>Playful</string>
		<string>Polite</string>
		<string>Powerful</string>
		<string>Quick</string>
		<string>Quiet</string>
		<string>Quirky</string>
		<string>Random</string>
		<string>Remarkable</string>
		<string>Righteous</string>
		<string>Robotic</string>
		<string>Rockin\&apos;</string>
		<string>Rough</string>
		<string>Round</string>
		<string>Royal</string>
		<string>Running</string>
		<string>Scaly</string>
		<string>Scary</string>
		<string>Shadowy</string>
		<string>Shiny</string>
		<string>Shy</string>
		<string>Singing</string>
		<string>Skating</string>
		<string>Skeptical</string>
		<string>Skipping</string>
		<string>Sleepy</string>
		<string>Slippery</string>
		<string>Slow</string>
		<string>Small</string>
		<string>Smiling</string>
		<string>Sneezy</string>
		<string>Soaring</string>
		<string>Soft</string>
		<string>Sparkly</string>
		<string>Speckled</string>
		<string>Spikey</string>
		<string>Spirited</string>
		<string>Splendid</string>
		<string>Spooky</string>
		<string>Spotted</string>
		<string>Spunky</string>
		<string>Squeaky</string>
		<string>Squishy</string>
		<string>Starry</string>
		<string>Stealthy</string>
		<string>Stellar</string>
		<string>Stretchy</string>
		<string>Striped</string>
		<string>Strong</string>
		<string>Super</string>
		<string>Surprised</string>
		<string>Swimming</string>
		<string>Tall</string>
		<string>Tame</string>
		<string>Terrific</string>
		<string>Thorny</string>
		<string>Thundering</string>
		<string>Ticklish</string>
		<string>Tiny</string>
		<string>Traveling</string>
		<string>Tremendous</string>
		<string>Triumphant</string>
		<string>Truthful</string>
		<string>Twirling</string>
		<string>Ultra</string>
		<string>Unbelievable</string>
		<string>Velvety</string>
		<string>Visionary</string>
		<string>Vivacious</string>
		<string>Vivid</string>
		<string>Vocal</string>
		<string>Warm</string>
		<string>Wild</string>
		<string>Winged</string>
		<string>Wise</string>
		<string>Witty</string>
		<string>Wonderful</string>
		<string>Young</string>
		<string>Zealous</string>
		<string>Adorable</string>
		<string>Adventurous</string>
		<string>Agile</string>
		<string>Amazing</string>
		<string>Ancient</string>
		<string>Artistic</string>
		<string>Astounding</string>
		<string>Athletic</string>
		<string>Awesome</string>
		<string>Beautiful</string>
		<string>Benevolent</string>
		<string>Big</string>
		<string>Blazing</string>
		<string>Blissful</string>
		<string>Blushing</string>
		<string>Bold</string>
	</array>
	<key>middle_names</key>
	<array>
		<string>Amber</string>
		<string>Amethyst</string>
		<string>Apricot</string>
		<string>Arboreal</string>
		<string>Arctic</string>
		<string>Banana</string>
		<string>Blue</string>
		<string>Brass</string>
		<string>Cave</string>
		<string>Celestial</string>
		<string>Citrine</string>
		<string>Cloud</string>
		<string>Cobalt</string>
		<string>Copper</string>
		<string>Crystal</string>
		<string>Desert</string>
		<string>Diamond</string>
		<string>Emerald</string>
		<string>Fire</string>
		<string>Forest</string>
		<string>Fuchsia</string>
		<string>Gold</string>
		<string>Gray</string>
		<string>Green</string>
		<string>Indigo</string>
		<string>Jade</string>
		<string>Jungle</string>
		<string>Lava</string>
		<string>Lavender</string>
		<string>Lightning</string>
		<string>Lime</string>
		<string>Magenta</string>
		<string>Maroon</string>
		<string>Moonstone</string>
		<string>Mountain</string>
		<string>Navy</string>
		<string>Ocean</string>
		<string>Olive</string>
		<string>Onyx</string>
		<string>Opal</string>
		<string>Orange</string>
		<string>Pearl</string>
		<string>Pink</string>
		<string>Platinum</string>
		<string>Plum</string>
		<string>Purple</string>
		<string>Quartz</string>
		<string>Rainforest</string>
		<string>Red</string>
		<string>River</string>
		<string>Ruby</string>
		<string>Sand</string>
		<string>Sapphire</string>
		<string>Scarlet</string>
		<string>Silver</string>
		<string>Sky</string>
		<string>Snow</string>
		<string>Space</string>
		<string>Tangerine</string>
		<string>Teal</string>
		<string>Titanium</string>
		<string>Topaz</string>
		<string>Violet</string>
		<string>Yellow</string>
		<string>Amber</string>
		<string>Amethyst</string>
		<string>Apricot</string>
		<string>Arboreal</string>
		<string>Arctic</string>
		<string>Banana</string>
		<string>Blue</string>
		<string>Brass</string>
		<string>Cave</string>
		<string>Celestial</string>
		<string>Citrine</string>
		<string>Cloud</string>
		<string>Cobalt</string>
		<string>Copper</string>
		<string>Crystal</string>
		<string>Desert</string>
	</array>
	<key>last_names</key>
	<array>
		<string>Beaver</string>
		<string>Bee</string>
        <string>Canary</string>
        <string>Cat</string>
        <string>Catfish</string>
        <string>Centaur</string>
        <string>Chicken</string>
        <string>Coyote</string>
        <string>Cricket</string>
        <string>Dinosaur</string>
        <string>Dog</string>
        <string>Dolphin</string>
        <string>Dragon</string>
        <string>Dragonfly</string>
        <string>Eagle</string>
        <string>Elephant</string>
        <string>Falcon</string>
        <string>Flamingo</string>
        <string>Fox</string>
        <string>Giraffe</string>
        <string>Grasshopper</string>
        <string>Griffin</string>
        <string>Hamster</string>
        <string>Hawk</string>
        <string>Hippogriff</string>
        <string>Hippopotamus</string>
        <string>Horse</string>
        <string>Inchworm</string>
        <string>Kitten</string>
        <string>Kraken</string>
        <string>Lemur</string>
        <string>Leopard</string>
        <string>Lion</string>
        <string>Lizard</string>
        <string>Manatee</string>
        <string>Monkey</string>
        <string>Narwhal</string>
        <string>Octopus</string>
        <string>Parrot</string>
        <string>Phoenix</string>
        <string>Platypus</string>
        <string>Pony</string>
        <string>Porcupine</string>
        <string>Puppy</string>
        <string>Raccoon</string>
        <string>Rooster</string>
        <string>Seahorse</string>
        <string>Sloth</string>
        <string>Slug</string>
        <string>Snail</string>
        <string>Sphinx</string>
        <string>Squid</string>
        <string>Squirrel</string>
        <string>Stegosaurus</string>
        <string>Tiger</string>
        <string>Timberwolf</string>
        <string>Tuna</string>
        <string>Tyrannosaurus</string>
        <string>Unicorn</string>
        <string>Velociraptor</string>
        <string>Walrus</string>
        <string>Whale</string>
        <string>Wolf</string>
        <string>Zebra</string>
        <string>Beaver</string>
        <string>Bee</string>
        <string>Canary</string>
        <string>Cat</string>
        <string>Catfish</string>
        <string>Centaur</string>
        <string>Chicken</string>
        <string>Coyote</string>
        <string>Cricket</string>
        <string>Dinosaur</string>
        <string>Dog</string>
        <string>Dolphin</string>
        <string>Dragon</string>
        <string>Dragonfly</string>
        <string>Eagle</string>
        <string>Elephant</string>
	</array>
</dict>
</plist>
